*.vcd
*.fsdb
*.saif
*.log
*.txt
*.key

glsim/build/
glsim/results/
glsim/simv.daidir/
glsim/simv_mixed.daidir/
glsim/simv_mixed
glsim/simv
glsim/*.key
glsim/vc_hdrs.h
glsim/csrc/*
glsim/elf/*
!glsim/elf/
!glsim/elf/README.md
!glsim/csrc/
!glsim/csrc/vcs_bbsim_dpi.cpp

!tb_glsim_mixed.sv
!tb_glsim.sv
