.*
!.gitignore

*.log
*.vcd
*.fsdb
*.saif
*.svf
*.sdf
*.ddc
*.db

**/alib-52/
**/elab/
**/logs/*
**/outputs/*
**/rpt/*
**/work/
**/WORK/
**/fm_shell_command.log
**/formality_svf/
**/command.log
**/default.svf
**/crte_*.txt
**/Synopsys_*.adi
**/Synopsys_stack_trace_*.txt

!**/logs/.gitkeep
!**/outputs/.gitkeep
!**/rpt/.gitkeep
